@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Blog content -->
<div class="col-md-9 blogpost">
    <article class="post">
        <div class="post-thumb">
            <img src="https://placehold.it/690x310" class="img-responsive" alt="img">
            <div class="overlay-wrap">
                <div class="overlay">
                    <div class="overlay-inner">
                        <a href="#"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <h3><a href="#">A Really Cool Single Image Post Here</a></h3>
        <div class="blog-meta"><span><i class="fa fa-user"></i> Admin</span> <span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span> <span><i class="fa fa-tags"></i> <a href="#">Business</a>, <a href="#">Photoshop</a>, <a href="#">Web Design</a></span></div>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
    </article>

    <article class="post">
        <div class="post-thumb">
            <img src="https://placehold.it/690x310" class="img-responsive" alt="img">
            <div class="overlay-wrap">
                <div class="overlay">
                    <div class="overlay-inner">
                        <a href="#"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <h3><a href="#">Examples of Mouseover Events Here</a></h3>
        <div class="blog-meta"><span><i class="fa fa-user"></i> Admin</span> <span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span> <span><i class="fa fa-tags"></i> <a href="#">Business</a>, <a href="#">Photoshop</a>, <a href="#">Web Design</a></span></div>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
    </article>

    <article class="quote-post">
        <h3>" Not All Who Wander Are Lost "</h3>
        <p>J.R.R Tolkien</p>
        <div class="blog-meta"><span><i class="fa fa-user"></i> Admin</span> <span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span> <span><i class="fa fa-tags"></i> <a href="#">Quotes</a></span></div>
    </article>

    <article class="post">
        <div class="post-thumb">
            <div id="post-slider" class="owl-carousel">
                <div class="item">
                    <img src="https://placehold.it/690x310" class="img-responsive" alt="img">
                </div>
                <div class="item">
                    <img src="https://placehold.it/690x310" class="img-responsive" alt="img">
                </div>
                <div class="item">
                    <img src="https://placehold.it/690x310" class="img-responsive" alt="img">
                </div>
            </div>
        </div>
        <h3><a href="#">Here's a Fantatic Example of a Multi Image Post</a></h3>
        <div class="blog-meta"><span><i class="fa fa-user"></i> Admin</span> <span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span> <span><i class="fa fa-tags"></i> <a href="#">Business</a>, <a href="#">Photoshop</a>, <a href="#">Web Design</a></span></div>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
    </article>

    <article class="quote-post">
        <h3>" I will not say, do not weep, for not all teens are an evil "</h3>
        <p>J.R.R Tolkien</p>
        <div class="blog-meta"><span><i class="fa fa-user"></i> Admin</span> <span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span> <span><i class="fa fa-tags"></i> <a href="#">Business</a>, <a href="#">Photoshop</a>, <a href="#">Web Design</a></span></div>
    </article>

    <article class="post">
        <!-- Video content -->
        <div class="video">
            <iframe src="https://player.vimeo.com/video/12515449?title=0&amp;byline=0&amp;portrait=0" class="full-video" height="300"></iframe>
        </div>
        <!-- Video content -->
        <h3><a href="#">And for my last trick a Video Post</a></h3>
        <div class="blog-meta"><span><i class="fa fa-user"></i> Admin</span> <span><i class="fa fa-clock-o"></i> 09/12/14</span> <span><i class="fa fa-comments"></i>28</span> <span><i class="fa fa-eye"></i>117</span> <span><i class="fa fa-tags"></i> <a href="#">Business</a>, <a href="#">Photoshop</a>, <a href="#">Web Design</a></span></div>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
    </article>

    <div class="row page-nav">
        <div class="col-md-6">
            <ul>
                <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <p>Page 1 of 2</p>
        </div>
    </div>
</div>
<!-- Sidebar -->
<aside class="col-md-3">
    <div class="side-widget">
        <h5>Archives</h5>
        <ul class="side-list">
            <li><a href="#">&rarr; December 2014 <span>(23)</span></a></li>
            <li><a href="#">&rarr; November 2014 <span>(29)</span></a></li>
            <li><a href="#">&rarr; October 2014 <span>(31)</span></a></li>
            <li><a href="#">&rarr; September 2014 <span>(14)</span></a></li>
            <li><a href="#">&rarr; August 2014 <span>(44)</span></a></li>
            <li><a href="#">&rarr; July 2014 <span>(27)</span></a></li>
            <li><a href="#">&rarr; June 2014 <span>(18)</span></a></li>
        </ul>
    </div>

    <div class="space60"></div>

    <div class="side-widget">
        <h5>Popular Tags</h5>
        <ul class="tags">
            <li><a href="#">Art</a></li>
            <li><a href="#">Apple</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Illustration</a></li>
            <li><a href="#">Photoshop</a></li>
            <li><a href="#">PSD</a></li>
            <li><a href="#">Quotes</a></li>
            <li><a href="#">Web Design</a></li>
        </ul>
    </div>
</aside>
