@page
@model MultiCulturalBlog.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="col-md-9">
    <div id="first">
        <h3>Creat New Blog</h3>
        <div class="racc">
            <div class="toggle-content">
                <form method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label>Blog title</label>
                        <input asp-for="Blog.Title" class="form-control" />
                        <span asp-validation-for="Blog.Title" class="text-danger"></span>
                    </div>

                    @*<div class="form-group">
                        <label for="Blog.Body">Blog breif description</label>
                        <textarea id="Blog_Body" name="Blog.Body" class="form-control" rows="7"></textarea>
                        <span>Just 200 characters</span>
                    </div>*@
                    <div class="form-group">
                        <label for="Blog.BodyHtml">Html body</label>
                        <textarea id="summernote" name="Blog.BodyHtml" class="form-control" ></textarea>
                    </div>
                    @*<div class="form-group">

                        <label class="control-label">Blog photo</label>
                        <input type="file" name="PicturFile" class="form-control" />

                        <span asp-validation-for="Blog.PhotoUrl" class="text-danger"></span>

                    </div>*@
                    @*<div class="form-group">
                        <label asp-for="Blog.VideoUrls" class="control-label">Embed Video Urls</label>
                        <div id="dvVideoUrls">

                        </div>
                        <input type="button" class="btn btn-primary" value="Add New" id="btnAddVideo" />
                        <span asp-validation-for="Blog.VideoUrls" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label>
                            Attachment(s)
                            (Attach multiple files.)
                        </label>

                        <span class="btn btn-default btn-file">
                            <input id="input-2" name="Attachments[]" type="file" class="file" multiple data-show-upload="true" data-show-caption="true">
                        </span>

                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
        var $j = jQuery.noConflict();
        $j(document).ready(function () {
            var index = 0;
            //var videoInput = '<div><input type="text" name="Blog.VideoUrls[##Index##]" class="form-control" /><div class="space10"></div></div>';
            //addnewvideo();
            //$j('#btnAddVideo').click(function () {
            //    addnewvideo();
            //});
            //function addnewvideo() {
            //    $j('#dvVideoUrls').append(videoInput.replace("##Index##", index));
            //    index++;
            //}

            $j('#summernote').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 350,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });
    </script>
}
