@page "{Year?}/{Month?}"
@inject IJsonHelper Json;
@model MultiCulturalBlog.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- Sidebar -->
<aside class="col-md-3">

    <div class="side-widget">
        <div id="tree"></div>
    </div>
    <input type="hidden" value="@Json.Serialize(Model.ArchiveModels).ToString()" id="hdfArchive" />

</aside>
<!-- Blog content -->
<div class="col-md-7 blogpost">
    <a class="btn btn-success" href="/Blog/Create">Create New</a>
    <div class="space10"></div>
    @foreach (var blog in Model.LatestBlogs)
    {
        <article class="post">
            <h3><a href="/Blog/Details/@blog.Id">@blog.Title</a></h3>
            <div class="blog-meta">
                <span><i class="fa fa-user"></i> Admin</span> <span><i class="fa fa-clock-o"></i> @blog.CreationDate.ToString("s")</span>
               
            </div>
            <div class="post-thumb">
                @if (blog.BodyHtml != null)
                {
                    <div class="space20"></div>
                    <div>
                        @Html.Raw(blog.BodyHtml.Replace("\r\n", "<br />"))
                    </div>
                }
            </div>
            

        </article>
    }



</div>
<div class="col-md-2"></div>

@section Scripts{
    <script src="~/js/blog-index.js"></script>
}